.list {
	margin-top: 1rem;
	text-align: center;
	list-style: none;
  padding: 0;
}
.container {
  margin-top: 2vh;
}
.filterButtons {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}

.filterButton {
	box-sizing: border-box;
	height: 36px;
	width: 140px;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.filterButton:hover {
  border: 1px solid white;
  color: white;
  background-color: #282c34b1;
}

.filterButton:focus {
  border: 1px solid white;
  color: white;
  background-color: #282c34b1;
}
